# Dependências do Node (Grunt)
node_modules/
.grunt/

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

playerhud.code-workspace

# Ignorar configurações locais de linting (Evita conflito com o Grunt do Moodle CI)
.stylelintrc.json
.eslintrc
.eslintrc.json
.eslintignore

.roo
.claude
SCOPE.md
